@media (max-width:1024px) {
	.container {
		width: 100%;
	}
	.logo {
		width: 224px
	}
	.logo img {
		width: 100%;
	}
	nav {
		width: 500px;
	}
	.submenu li {
	width: 300%;
	}
	.title {
	width: 65%;
	}
	.sort {
	width: 240px;
}
}
@media (max-width:800px) {
	.container {
		width: 100%;
	}
	.logo, nav, .search, .cart {
		margin: 10px 0;
	}
	.header {
		flex-wrap: wrap;
		justify-content: center;
	}
	nav {
		order: 1;
	}
	.submenu li {
	width: 250%;
	}
	.title {
	width: 100%;
	}
	.sort {
	padding-top: 30px;
	width: 240px;
}
}
@media (max-width:600px) {
	.container {
		width: 100%;
	}
	.logo, nav, .search, .cart {
		margin: 10px 0;
	}
	.header {
		flex-wrap: wrap;
		justify-content: center;
	}
	.logo {
		width: 100%;
		justify-content: center;
	}
	.search, .cart {
		order: 1;
	}
	nav {
		order: 2;
	}
	.submenu li {
	width: 250%;
}
}
@media (max-width:480px) {
	.container {
		width: 100%;
	}
	.logo, nav, .search, .cart {
		margin: 10px 0;
	}
	.header {
		flex-wrap: wrap;
		justify-content: center;
	}
	.logo {
		width: 100%;
		justify-content: center;
	}
	.search, .cart {
		order: 1;
	}
	nav {
		order: 2;
	}
	nav > ul {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
	.submenu li {
	width: 250%;
}
