* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-image: url(images/patt.png);
}
/*header*/
header {
	display: flex;
	justify-content: center;
	background-color: rgba(255,255,255,0.75);
}
.container {
	width: 1200px;
	display: flex;
}
.header {
	justify-content: space-around;
}
.logo, nav, .search, .cart {
	display: flex;
	align-items: center;
	height: 50px;
	padding: 0 15px;
	margin: 25px 0;
}
/*header/logo*/
.logo {
	width: 300px;
}
.logo > a {
	height: 50px;
	display: flex;
}
.logo > a > img {
	align-self: center;
}
/*header/menu*/
nav {
	width: 600px;
}
nav > ul {
	display: flex;
	width: 100%;
}
nav > ul > li {
	width: 25%;
	height: 50px;
	
}
nav > ul > li:last-child {
	border-right: 1px solid #2c71b8;	
}
nav > ul > li > a {
	display: block;
	text-align: center;
	text-decoration: none;
	border-left: 1px solid #2c71b8;
	color: #2c71b8;
	font-size: 21px;
	line-height: 50px;
	font-weight: 300;

}
nav > ul > li:hover > a {
	color: white;
	background-color: #2c71b8;
}
.mark_down {
	background-image: url(images/mark_down.png);
	background-repeat: no-repeat;
	background-position: right center;
}
nav > ul > li:hover > .mark_down {
	background-image: url(images/mark_down_inversion.png);
}
/*header/menu/submenu*/
.submenu {
	display: none;
	position: relative;
}
nav > ul > li:hover > .submenu {
	display: block;
}
.submenu li {
	width: 200%;
}
.submenu a {
	display: block;
	color: white;
	background-color: #2c71b8;
	height: 50px;
	text-decoration: none;
	font-size: 21px;
	line-height: 50px;
	font-weight: 300;
	text-indent: 30px;
}
.submenu a:hover {
	color: #2c71b8;
	background-color: #fff;
}
/*header/search*/
.search {
	width: 230px;
}
.search_panel {
	width: 100%;
	height: 40px;
	border: 1px solid #2c71b8;
}
.search_panel form {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
input[type="search"]::placeholder {
	color: #2c71b8;
}
input[type="search"] {
	width: 80%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	border: 0;
	outline: 0;
	font-size: 21px;
	font-weight: 300;
	color: #2c71b8;
	text-indent: 20px;
}
input[type="submit"] {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	background-color: #2c71b8;
	border: 0;
	background-image: url(images/search_inversion.png);
	background-repeat: no-repeat;
	background-position: center;
}
/*header/cart*/
.cart {
	width: 70px;
}
.cart_block {
	width: 40px;
	height: 40px;
	background-color: #fff;
	background-image: url(images/cart.png);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.cart .counter {
	width: 20px;
	height: 20px;
	color: white;
	background-color: #2c71b8;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	border-radius: 10px;
	position: absolute;
	top: -10px;
	left: -10px;
}
/*main*/
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*main/slider*/
.slider {
	width: 100%;
	height: 400px;
	background-color: rgba(0,0,0,0.2);
	display: flex;
	justify-content: center;
}
.slider_box {
	justify-content: center;
}
/*main*/
.main {
	justify-content: space-between;
}
.options {
	width: 25%;
}
.shop {
	width: 75%;
}
/*main/shop/option*/
.option {
	margin: 0 15px;
	background-color: rgba(255, 255, 255, 0.2);
	color: white;
}
.option h2 {
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	padding-bottom: 10px;

}
.option_title {
	padding: 30px;
}
label {
	display: flex;
	padding: 10px 0;
}
label .styles {
	display: inline-block;
}
label span {
	font-size: 21px;
	font-weight: 300;
	/*padding-left: 10px;*/
}
.more_options {
	padding-bottom: 30px;
	display: flex;
	justify-content: center;
}
.more_options a {
	text-decoration: none;
	font-size: 21px;
	color: white;
}
.option .submit {
	width: 210px;
	height: 50px;
	margin: 0px 30px 30px;
	font-size: 21px;
	text-transform: uppercase;
	background-color: #2c71b8;
	border: 1px solid white;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.option .submit:hover {
	background-color: rgba(255,255,255,0.2);
}
/*Main/sidebar/option/styles*/
.option input[type="checkbox"] {
	display: none;
}
label .row {
	align-items: center;
}
.styles {
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid white;
	padding: 0;
	margin: auto 10px auto 0;
	position: relative;
}
.styles:before {
	content: "";
	display: block;
	background-color: white;
	width: 8px;
	height: 8px;
	position: absolute;
	opacity: 0;
}
.option input[type="checkbox"]:checked + .styles:before {
	opacity: 1;
}
/*main/shop*/
/*main/shop/bread_crumbs*/
.bread_crumbs {
	font-size: 14px;
	font-weight: 300;
	color: rgba(255,255,255,0.5);
	margin-top: 30px;
	padding: 0 15px;
}
.bread_crumbs a {
	color: rgba(255,255,255,0.5);
	text-decoration: none;
}
/*main/shop/titleAndSort*/
.titleAndSort {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 50px;
	padding: 0 15px;
}
.title {
	width: 540px;
}
.title h1 {
	font-size: 48px;
	font-weight: 700;
	color: white;
}
.sort {
	width: 270px;
}
.sort select {
	width: 100%;
	height: 40px;
	background-color: #2c71b8;
	color: white;
	font-size: 21px;
	font-weight: 300;
	text-indent: 20px;
}
/*main/shop/products*/
.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.product .deploy:hover {
	background-color: #2c71b8;
	background-image: url(images/deploy_invert.png);
}
.product {
	width: 270px;
	margin: 0 15px;
	border: 1px solid white;
	color: white;
	margin-bottom: 30px;
}
.product h2 {
	font-size: 30px;
	padding: 10px;
	font-weight: 700;
}
.product p {
	font-size: 21px;
	padding: 10px;
	font-weight: 300;
}
.product p span {
	font-weight: 700;
}
.product h3 {
	text-align: center;
	font-weight: 700;
	font-size: 48px;
	padding: 30px 0;
}
.product h3 sup {
	padding-left: 5px;
	font-size: 24px;
}
.product .button_more {
	display: block;
	width: 210px;
	height: 50px;
	margin: 0px 30px 10px;
	font-size: 21px;
	text-transform: uppercase;
	background-color: #2c71b8;
	border: 1px solid white;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.product .button_more:hover {
	background-color: rgba(255,255,255,0.2);
}
.product .button_add_to_cart {
	display: block;
	width: 210px;
	height: 50px;
	margin: 0px 30px 30px;
	font-size: 21px;
	text-transform: uppercase;
	background-color: #2c71b8;
	border: 1px solid white;
	color: white;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
}
.product .button_add_to_cart:hover {
	background-color: rgba(255,255,255,0.2);
}
/*Images for products*/
.product1-img, .product2-img,
.product3-img, .product4-img,
.product5-img, .product6-img,
.product7-img, .product8-img,.product9-img {
	padding: 0;
	height: 180px;
	background-color: #ccccff;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	border: 0;
}
.product1-img {
	background-image: url(images/product1.png);
}
.product2-img {
	background-image: url(images/product2.png);
}
.product3-img {
	background-image: url(images/product3.png);
}
.product4-img {
	background-image: url(images/product4.png);
}
.product5-img {
	background-image: url(images/product5.png);
}
.product6-img {
	background-image: url(images/product6.png);
}
.product7-img {
	background-image: url(images/product7.png);
}
.product8-img {
	background-image: url(images/product2.png);
}
.product9-img {
	background-image: url(images/product3.png);
}
/*Shop/loadMore*/
.loadMore {
	display: flex;
	padding-bottom: 80px;
	justify-content: center;
}
.loadMore a {
	text-decoration: none;
	color: white;
	font-size: 36px;
	font-weight: 300;
}
/*Footer*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	background-color: rgba(255,255,255,0.75);
	justify-content: center;
	align-items: center;
	color: #2c71b8;
	font-size: 21px;
	font-weight: 300;
}
.deploy, .like {
	padding: 0;
	height: 30px;
	width: 30px;
	border: 1px solid #2c71b8;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	right: 10px;
}
.deploy {
	background-image: url(images/deploy.png);
	top: 10px;
}
.like {
	background-image: url(images/like.png);
	top: 50px;
}
.product .like:hover {
	background-color: #2c71b8;
	background-image: url(images/like_invert.png);
}